version: '3.8'

services:
  nestjs-api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - $PORT:3000
    volumes:
      - $DB_FILE:/usr/src/app/db.sqlite
    environment:
      NODE_ENV: production
      PORT: 3000
      DB_FILE: $DB_FILE
    restart: unless-stopped
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost:3000/health']
      interval: 30s
      timeout: 10s
      retries: 5
